
.sidebar {
  /* width: 250px; */
  background-color: #fff;
  border-right: 1px solid #ddd;
  padding: 20px;
  height: 100vh;
  overflow-y: auto;
}

.sidebar::-webkit-scrollbar {
  width: 6px;
}
.sidebar::-webkit-scrollbar-thumb {
  background-color: #ccc;
  border-radius: 4px;
}

/* Logo Section */
.logo-section {
  text-align: center;
}
.logo {
  width: 50px;
}

/* Menu */
.menu-section h4 {
  margin-top: 20px;
  font-size: 14px;
  color: #666;
}
.menu-item {
  padding: 10px;
  cursor: pointer;
  border-radius: 6px;
  display: flex;
  align-items: center;
  gap: 8px;
  color: #333;
}
.menu-item:hover,
.menu-item.active {
  background-color: #e6f0ff;
  color: #007bff;
}

.content-section {
  /* margin-left: 250px; */
  padding: 20px;
  /* background-color: #f5f8fa; */
  /* flex: 1; */

  display: inline;
  justify-content: space-between;
 
  height: 100vh;
  overflow-y: auto;
}

/* Top Bar */
.top-bar {

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.top-icons .icon {
  margin-left: 15px;
  cursor: pointer;
}

/* Breadcrumb */
.breadcrumb {
  color: #777;
  margin-bottom: 20px;
}

/* Button */
.create-flow-btn {
  background-color: #1c3faa;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 6px;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 8px;
}
.create-flow-btn:hover {
  background-color: #1632a2;
}
